.body-container {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    height: 100vh;
  }
  
  .edit-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ff7e5f;
    color: white;
    padding: 10px 20px;
    position: relative;
  }
  
  .back-btn-edit {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .edit-h2 {
    margin: 0;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .edit-label {
    margin-top: 20px;
  }
  
  .edit-input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .save-edit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  