.body-container {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    height: 75vh;
  }
  
  .edit-header {
    display: flex;
    align-items: center;
    width:65%;
    background-color: #ff7e5f;
    color: white;
    padding: 10px 20px;
    position: relative;
    
  }
  
  .back-btn-edit {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    margin-left:-40px;
  }
  
  .edit-h2 {
    margin-left: 10px;
    color:#ff7e5f;
    position: absolute;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .profile-form {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-left:120px;
    margin-top:15px;
    margin-right:120px;
    box-shadow: 0 0 10px rgb(214, 35, 3);
  }
  
  .edit-label {
    margin-top: 20px;
  }
  
  .edit-input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .save-edit {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  