
 .greetings {
    position: absolute;
    right: 45%;
    top: 20%;
    text-align: right;
    max-width: 300px;
    font-family: serif;
    font-size: larger;
}
.book-btn{
    
    background: orange;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-right: 20%;

}
.welocomelogo{
    height: 350px;
    border-radius: 50%;
}
