body {
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.homeContainer {
    background-color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(118, 50, 154, 0.498);
    width: 300px;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.homeContainer button {
    padding: 10px;
    margin: 10px;
    background-color: #ff8a08;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #FF6504;
    
}