.content-checkin {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color:#ff7e5f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .h1 {
    margin-top :90px;
    margin-bottom: 20px;
  }
  .content-checkin h1{
    color:white;
    font-size: 50px;
  }
   
  .content-checkin p{
    color:white;
  }

  
  .description-checkin {
    margin-top :50px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .description-checkin p {
    margin: 10px 0;
  }
  
  .description-checkin a {
    color: #ffdd00;
    text-decoration: none;
  }
  
  .description-checkin a:hover {
    text-decoration: underline;
  }
  
  .form-checkin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group-checkin {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .label-checkin {
    display: block;
    margin-bottom: 5px;
    font-weight:bold;
    color:white;
  }
  
  .input-checkin[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-checkin {
    background-color: #f8f5f2;
    color: rgb(234, 104, 34);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top:20px;
    font-weight:bold;
    width:20%;
    margin-left:240px;
  }
  
  .button-checkin:hover {
    background-color: #f1eded;
  }
  
  .checkin-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border-radius: 4px;
  }
  